* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

#menu {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    background-color: #2168AA;
    padding: 10px;

    a {
        padding-left: 10%;
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }
    
    a:hover {
        text-decoration: underline;
        color: grey;
    }
}

.manage_bar {
    float: left;
    height: 94.6vh;
    width: 300px;
    background-color: #2168AA;

    a {
        background-color: white;
        padding: 0.5em 0em;
        margin: 1em 1em;
        font-size: 18pt;
        display: block;
        border-radius: 5em;
        text-align: center;
        text-decoration: none;
        color: #2168AA;
    }

    a:hover {
        background-color: rgb(202, 202, 202);
        color: #55a1e7;
    }

}
.search_user {
    margin-left: 20em;
}
table {
    
    border-collapse: collapse;

    th, td, tr {
        border: 2px black solid;
    }

    th, td{
        padding: 5px;
    }

    /*tr:nth-child(even) {
        background-color: rgb(196, 194, 194);
    }
    tr:nth-child(odd) {
        background-color: white;
    }*/
}

#add_user_form {
    label {
        display: block;
    }
    input {
        display: block;
    }
}

fieldset p {
    display: inline;
}

#inside {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    padding-left: 10%;
    margin-right: 10%;

    h1 {
        margin: 20px 0;
    }

    button {
        border-radius: 20px;
        border-color: rgba(128, 128, 128, 0.301);
        box-shadow: none;
        width: 140px;
        height: 60px;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 12pt;
    }
    button:hover {
        cursor:pointer;
        background-color: rgba(128, 128, 128, 0.301);
    }
    
    #flex_inside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        #submit {
            border-color: rgba(0, 248, 0, 0.342);
            align-self: flex-end;
        }

        button {
            padding: 0;
            margin: 0;
        }
    }
    
    fieldset button {
        height: 40px;
        margin-top: 20px;
    }
}

#teacher_select_modal,  #group_select_modal, #result_modal{
    position: fixed;
    display: none;
    top: 50%;
    left: 35%;
    height: auto;
    width: 25em;
    padding: 20px;
    z-index: 1;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: grey;
    color: white;
    font-size: 14pt;
    text-align: center;

    button {
        //border-radius: 20px;
        border-color: rgba(128, 128, 128, 0.301);
        box-shadow: none;
        width: 80px;
        height: 20px;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 10pt;
        margin: 5px;
    }
    button:hover {
        cursor:pointer;
        background-color: rgba(128, 128, 128, 0.301);
    }

    td, th {
        padding: 0;
    }

    th {
        padding: 5px;
    }
}

#menu {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    background-color: skyblue;
    padding: 10px;

    a {
        padding-left: 10%;
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }
    
    a:hover {
        text-decoration: underline;
        color: grey;
    }
}

#test_table{
    button {

    }
}